body {
  font-family: 'Krona One', Helvetica, sans-serif;
  font-size:1.5em;
  color:#0C0;
  background-color: #111;
}

.title {
  font-size:1.25em;
}
.what {
  float:right;
  font-size:0.75em;
}

.quote {
  text-align:center;
  font-size:1.5em;
  margin:1em;
}

.buttons {
  text-align:center;
}

.radiohead_button {
  height:109px;
  width:109px;
  margin-left:10px;
  margin-right:10px;
}

.horse_ebooks_button {
  height:109px;
  width:109px;
  margin-left:10px;
  margin-right:10px;
}

.thanks {
  font-size:0.65em;
  line-height:1.5em;
  margin-top:1em;
  margin-bottom:1em;
}
